ul .menu-item
{
    text-align: center;
    list-style-type: none;
    float: left;
    margin-left: 20px;
    font-size: 50px;
}
.menu-link {
    color: azure;
    text-decoration: none;
}
.menu-item:hover
{
    background-color:rgb(145, 177, 238);
}